@{
    ViewBag.Title = "Giới Thiệu";
    Layout = "~/Views/Shared/_LayoutClient2.cshtml";
}

<main aria-labelledby="title" class="about-container">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Chào mừng bạn đến với Lẩu Hằng Béo!</h3>

    <p>Lẩu hải sản Hằng Béo đặc trưng với nhiều món ăn hấp dẫn được chế biến đa dạng từ nguồn nguyên liệu hải sản tươi. Thực đơn của quán hội tụ những món ăn độc
    đáo hợp khẩu vị thực khách Hà thành, được bán với mức giá khá dễ chịu. Menu của quán đa dạng với nhiều loại thức ăn hấp dẫn. Nếu bạn đã từng thưởng thức một
    lần thì sẽ không bao giờ quên. Quán Hằng Béo tự tin mang đến cho thực khách những món ăn ngon với hương vị đặc trưng, bởi cách chế biến tinh tế kết hợp việc
    sử dụng các loại gia vị độc đáo. Quán lúc nào cũng trong tình trạng đông khách, người ra người vào nhộn nhịp.</p>

    <p>Tại số Số 11b Trần Phú, quán có sức chứa khoảng 100 khách, được thiết kế theo phong cách mộc mạc và bình dân. Tuy không sở hữu lợi thế về diện tích, nhưng
    với tất cả những yếu tố trên, Lẩu hải sản Hằng Béo vẫn có thể đáp ứng tốt các nhu cầu dùng bữa và liên hoan của bạn. Mức giá của quán Hằng Béo vừa phải, rất
    phù hợp với những bữa ăn, liên hoan cùng gia đình, bạn bè, đồng nghiệp; tiếp khách hay tổ chức sinh nhật cũng đều ấn tượng. Bên cạnh đó, khách đến đây thưởng
    thức hải sản, ăn lẩu, món nướng, uống bia cùng nhau rất nhiều.</p>

    <p>Hãy ghé thăm nhà hàng của chúng tôi hoặc liên hệ qua email để được hỗ trợ tốt nhất!</p>
</main>
